.btn{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
button{
  background: none;
  color: #ccc;
  width: 250px;
  height: 80px;
  border: 1px solid #D35400 ;
  font-size: 18px;
  transition: .6s;
  overflow: hidden;
}
button:focus{
  outline: none;
}
button::before{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .5);
  width: 60px;
  height: 100px;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px)  skewX(150dg);
}
button::after{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .2);
  width: 30px;
  height: 100px;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px)  skewX(150dg);
}
button:hover{
  background: #D35400 ;
  cursor: pointer;
}
button:hover::before{
  transform: translateX(-300px)  skewX(150dg);
  opacity: 0.5s;
  transition: .7s;
}
button:hover::after{
  transform: translateX(-300px)  skewX(150dg);
  opacity: 1;
  transition: .7s;
}