margin-bottom: 40px;
background: none;
color: rgb(0, 0, 0);
width: 120px;
height: 50px;
border: 2px solid coral;
font-size: 10px;
transition: .6s;
overflow: hidden;

background: coral;
color: white;
border: 1px solid rgb(255, 255, 255);
cursor: pointer;