.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
	grid-template-areas:
	  "a b c"
	  ". e ."
	  "g h i";
  }
  
  .item {
	border: 2px solid black;
	padding: 20px;
  }
  
  .center-row {
	grid-area: e;
  }
  